main {
  flex-direction: column; /* Não tirar de 'column' que senão o layout quebra */
  display: flex;
  align-items: center;
  gap: 20px;
}

.slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; /* Não remover, senão os botões não ficarão centralizados! */
  margin-bottom: 0;
  background: var(--surface);
}

.slider img {
  align-items: center;
  height: 70vh;
  margin-right: 10px;
  margin-left: 10px;
}

.slider button {
  font-size: 5vh;
  text-align: center;
}

#home-slider-counter {
  margin-top: 0;
  border-radius: 25px;
  width: 5vw;
  font-size: 25px;
  text-align: center;
}

#categoriesDevotionals {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  background-color: var(--surface);
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 32px;
  gap: 10px;
}
